In [2]:
print("Question 1: Create a tuple of first 10 natural numbers")
# Your code here
a=tuple(range(1,11))
print(a)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
a=[]
for i in range(1,11):
  a.append(i)
print(a)  
b=tuple(a)  
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
# Your code here
a=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
len(a)

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

10

In [6]:
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
# Your code her
a=('a', 'b', 'c', 'd', 'e')
a[2]

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

'c'

In [7]:
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
# Your code here
a=(23, 45, 12, 67, 34, 89, 56)
max(a)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

89

In [9]:
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
# Your code here
a=(1, 5, 2, 5, 3, 5, 4, 5, 6)
a.count(5)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

4

In [10]:
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
# Your code here
a=(1,23,45,23.4,234.45,"data","engineering","classes",True,False,1,0)
a

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

(1, 23, 45, 23.4, 234.45, 'data', 'engineering', 'classes', True, False, 1, 0)

In [11]:
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
# Your code here
a=('java', 'python', 'c++', 'javascript')
a.index("python")

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

1

In [14]:
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
# Your code here
a=(10, 20, 30, 40, 50)
25 in a

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

False

In [19]:
print("\nQuestion 9: Create a tuple of first 5 even numbers")
# Your code here
a=tuple(range(2,11,2))
a

Question 9: Create a tuple of first 5 even numbers

(2, 4, 6, 8, 10)

In [20]:
print("\nQuestion 9: Create a tuple of first 5 even numbers")

even_numbers = []
for i in range(1, 6):
    even_numbers.append(i * 2)

even_tuple = tuple(even_numbers)
print(even_tuple)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [21]:
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
# Your code here
a=(15, 23, 31, 42, 56, 78)
avg=sum(a)/len(a)
print(avg)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336